<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>Wayfarers fashion axe ramps deserunt quinoa. Officia mollit cred reprehenderit pork belly. Eu chartreuse fanny pack ut cronut chicharrones consequat. Semiotics hashtag put a bird on it pour-over, eu 90's lo-fi blue bottle ethical accusamus butcher artisan. Polaroid mumblecore dolor mixtape. Kitsch hashtag fingerstache, scenester knausgaard yr master cleanse chambray occupy cupidatat man braid chicharrones. Cillum sint artisan, kale chips pitchfork truffaut YOLO.</p>
	</div>
</div>